<div class="container">
  <h1> {{ titulo }} </h1>
  <h2> {{ prueba }} </h2>
  <button class="btn btn-info" type="button" [routerLink]="['/estudiantes/form']" >Nuevo estudiante</button>
  
  <table class="table">
      <thead class="thead-dark">
        <tr align="center">
          <th scope="col">ID</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Email</th>
          <th scope="col">Nota</th>
          <th scope="col" >Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estudiante of estudiantes">
          <th scope="row">{{estudiante.id}}</th>
          <td>{{estudiante.nombres}}</td>
          <td>{{estudiante.apellidos}}</td>
          <td>{{estudiante.email}}</td>
          <td>{{estudiante.nota}}</td>
          <td align="center" > <button type="button" name="button" class="btn btn-info" role="button" [routerLink]="['/estudiantes/form', estudiante.id]" >Editar</button> 
              <button type="button" name="button" class="btn btn-danger" role="button" (click)="delete(estudiante)"  >Eliminar</button></td>         
        </tr>
      </tbody>
    </table>
  </div>